*{
    margin: 0;
    padding: 0;
}

.grilla{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: "1header"
                        "2nav"
                        "3main"
                        "4footer";

    min-height: 100vh;

}

.grid_section{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 70% 10%;

    grid-template-areas:"img titulo"
                        "img parrafo"
                        "img boton";

    justify-content: space-around;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;


}


.img_section{
    width: 50%;
    height: 70%;
    
    grid-area:img;
}

#grid_main{
    display: flex;
    flex-direction: column;
   
    
}


/*--jorge-ini----------------*/
/* -------------------------- CONTENEDOR DE PRODUCTO ---------------------------*/
.prod-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}

/* -------------------------- CARD DE PRODUCTO ---------------------------*/
.prod-container .prod-card {
    width: 200px;
    margin: 15px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background-color: darkgreen;
    color: antiquewhite;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);}

.prod-container .prod-card img {
    width: 100%;
    height: auto;}

.prod-container .prod-card .prod-nombre {
    margin: 0;    
    height: 30%;
    padding: 15px;
    text-align: center;}

.prod-container .prod-card .prod-descri {
    color: darkgreen;
    bottom: -100%;
    position: absolute;    
    padding: 30px;
    max-height: 100%;
    overflow-y: auto;
    line-height: 15px;
    background-color: #ffffff;
    box-sizing: border-box;
    transition: bottom 0.4s ease-in-out;}
.prod-container .prod-card:hover .prod-descri {
    bottom: 0;}

.prod-container .prod-card:hover .prod-descri .detail-button {
    padding: 5px;
    border: 0;
    background-color:darksalmon ;
    margin-top: 10px; 
    margin-bottom: 5px; 
    border-radius: 10px;
    position: relative;
    left: 25%;}

/* -------------------------- DETALLE DE PRODUCTO ---------------------------*/
.prod-container .prod-detalle {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 15px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    background-color: darkgreen;
    color: antiquewhite;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);}

.prod-container .prod-detalle h2{
    margin: 10px;
    text-align: center;}

.prod-container .prod-detalle p{
    margin: 10px;
    text-align: left;}

.prod-container .prod-detalle img {    
    width: 95%;
    height: auto;}

.prod-container .prod-detalle button {
    padding: 5px;
    border: 0;
    background-color:darksalmon ;
    margin: 10px;     
    border-radius: 10px;
    position: relative;
    left: 0;}
/*--jorge-fin---------------*/


.main_prod{
    display: flex;
    justify-content: space-between;
}

.div_prod{
    display: flex;
    flex-direction: row;}


    .titulo_section{
        font-size: 100%;
    }

    .parrafo_section{
        font-size: 80%;
    }

    .butera{
        width: 80%;
        height: 25px;
        
    }

    .grid_section a{
        font-size: 15px;
        color: blue;
    }


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: hidden;
}

nav {
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    text-align: center;

}

nav ul {
    list-style-type: none;
    margin:0px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    color:white;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
}

nav ul li a:hover{
    background-color: aliceblue;
    color: darkgreen;
    font-size: 20px;
}
