/*Import de fonts*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Roboto&display=swap');

/*Variables de fuentes y paleta de colores*/
:root{
    --color-primario: #c4e04a;
    --color-base: #efe66b;
    --color-detalles: #191507;
    --color-celeste: #817870;
    --color-marron: #f3eae8;
    --fuente-titulos: 'Roboto', sans-serif;
    --fuente-texto: 'Hind Madurai', sans-serif;
}

/*SETEO GENERAL*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Fuente general*/
main {
    font-family: var(--fuente-texto)
}

/*//////////////*/
/*NAVBAR*/
/*//////////////*/
.header{
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 0.8em;
    height: 80px;
    /* width: 100%; */
    
}

.header .logo img{
    cursor: pointer;
    height: 70px;
    width: auto;
    
}

.header .logo{
    transition: all 0.3s;
}

.header .logo:hover{
    transform: scale(1.1);
}

.menu li{
    list-style: none;
}

.menu ul li{
    display: inline-block;
    padding: 0.2em 1em;
    transition: all 0.3s;
}

.menu li:hover{
    transform: scale(1.1);
}

.menu a{
    font-size: 1.2em;
    font-family: var(--fuente-titulos);
    text-decoration: none;
    color: var(--color-detalles);
}

.menu a:hover{
    font-weight: bold;
}

.search input{
    border-radius: 10px;
    padding: 0.1em 0.5em;
    font-family: var(--fuente-titulos);
    border-style: none;
    margin: 0.5em;
}

.search input:focus{
    border-color: var(--color-primario);  /* NO me lo toma */
    background-color: var(--color-base);
}

.search button{
    padding: 0.3em 0.5em;
    font-size: 1em;
    font-family: var(--fuente-titulos);
    border-radius: 10px;
    background-color: var(--color-base);
    border: 1px solid var(--color-celeste);
    color: var(--color-detalles);
    transition: all 0.3s;
}

.search button:hover{
    transform: scale(1.1);
    background-color: var(--color-detalles);
    color: var(--color-primario);
}

.buy-car{
    margin: 0.5em 3em;
    transition: all 0.3s;
}

.buy-car img{
    width: 25px;
}

.buy-car:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.buy-car-responsive {
    display: none;
}

.burger{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/*//////////////*/
/*FIN DEL HEADER*/
/*//////////////*/


/*//////////////*/
/* FOOTER */
/*//////////////*/
.footer{
    padding: 0.5rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-base);
}

.social-media{
    display: flex;
    justify-content: space-between;
}

.social-media img{
    width: 40px;
    margin: 0 20px;
    transition: all 0.3s;
}

.social-media img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.footer-info{
    display: block;
    align-items: center;
}

.footer-info p{
    font-size: 1.2em;
    font-family: var(--fuente-titulos);
    font-weight: bold;
    padding: 0.5em 0;
}

.footer-info span{
    font-size: 1.1em;
    color: var(--color-primario);
    background-color: var(--color-celeste);
    border-radius: 12px;
    padding: 0.2em;
}
/*//////////////*/
/*Fin del footer*/
/*//////////////*/

/*//////////////*/
/*SECCION NOSOTROS*/
/*//////////////*/

.nosotros-info{
    width: 90%;
    margin: auto;
    padding: 40px;
}

.quienes-somos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.img-nosotros {
    width: 100%;
}

.img-nosotros img {
    width: 100%;
}

/*//////////////*/
/*FIN NOSOTROS*/
/*//////////////*/


/*//////////////*/
/*FORMULARIO*/
/*//////////////*/
.form-main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;

}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background: var(--color-marron);
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 3px solid var(--color-primario);
    outline: none;
    box-shadow: 3px 0px 30px var(--color-detalles);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: var(--color-detalles);
    color: var(--color-marron);
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: var(--color-detalles);
    color: var(--color-marron);
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__btn:hover {
    box-shadow: 3px 0px 30px var(--color-detalles);
    background: var(--color-base);
    color: var(--color-detalles);
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: green;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}
/*////////////////////////////*/
/*estilos para la validacion */
/*///////////////////////////*/
.formulario__grupo-correcto .formulario__validacion-estado {
    color: green;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: red;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: red;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid red;
}

/*//////////////*/
/* FIN DEL FORM */
/*//////////////*/

/*//////////////*/
/* CLIMA API */
/*//////////////*/
.weather{
    background-color: var(--color-celeste);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 8px 8px;
    padding: 20px;
    text-align: center;
    top: 20px;
    left: 20px;
}

/*//////////////*/
/* FIN CLIMA API */
/*//////////////*/


/*//////////////*/
/* RESPONSIVE */
/*//////////////*/

/*//////////////*/
/*Para tablets*/
/*//////////////*/
@media screen and (max-width: 768px) {
    /*NAVBAR*/
    .header .logo img{
        height: 50px;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: var(--color-detalles);
    }

    .cerrar-menu {
        color: var(--color-marron);
    }

    .burger{
        display: block;
    }

    .menu{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        color: var(--color-marron);
        background-color: var(--color-detalles);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .menu.visible {
        z-index: 1;
        opacity: 1;
        visibility: visible;
    }
    
    .menu ul li  {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .menu ul li a {
        color: var(--color-marron);
    }


    .footer{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer .social-media{
        justify-content: center;
    }

    .footer .footer-map{
        justify-content: center;
    }

    .footer .footer-info{
        justify-content: center;
    }

    /*FORM*/
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos, 
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }
}


/*--jorge-ini----------------*/
/* -------------------------- CONTENEDOR DE PRODUCTO ---------------------------*/
.prod-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}

/* -------------------------- CARD DE PRODUCTO ---------------------------*/
.prod-container .prod-card {
    width: 200px;
    margin: 15px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background-color: var(--color-detalles);
    color: var(--color-marron);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);}

.prod-container .prod-card img {
    width: 100%;
    height: auto;}

.prod-container .prod-card .prod-nombre {
    margin: 0;    
    height: 30%;
    padding: 15px;
    text-align: center;}

.prod-container .prod-card .prod-descri {
    color: var(--color-marron);
    bottom: -100%;
    position: absolute;    
    padding: 30px;
    max-height: 100%;
    overflow-y: auto;
    line-height: 15px;
    background-color: var(--color-detalles);
    box-sizing: border-box;
    transition: bottom 0.4s ease-in-out;}
.prod-container .prod-card:hover .prod-descri {
    bottom: 0;}

.prod-container .prod-card:hover .prod-descri .detail-button {
    padding: 5px;
    border: 0;
    background-color:var(--color-primario);
    color: var(--color-detalles);
    margin-top: 10px; 
    margin-bottom: 5px; 
    border-radius: 10px;
    position: relative;
    left: 25%;}

/* -------------------------- DETALLE DE PRODUCTO ---------------------------*/
.prod-container .prod-detalle {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 15px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    background-color: var(--color-detalles);
    color: var(--color-marron);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);}

.prod-container .prod-detalle h2{
    margin: 10px;
    text-align: center;}

.prod-container .prod-detalle p{
    margin: 10px;
    text-align: left;}

.prod-container .prod-detalle img {    
    width: 95%;
    height: auto;}

.prod-container .prod-detalle button {
    padding: 5px;
    border: 0;
    background-color:var(--color-primario) ;
    color: var(--color-detalles);
    margin: 10px;     
    border-radius: 10px;
    position: relative;
    left: 0;}
/*--jorge-fin---------------*/


.main_prod{
    display: flex;
    justify-content: space-between;
}

.div_prod{
    display: flex;
    flex-direction: row;}


    .titulo_section{
        font-size: 100%;
    }

    .parrafo_section{
        font-size: 80%;
    }


    /*//////////////*/
    /*Para telefono*/
    /*//////////////*/
    @media screen and (max-width: 425px) {
        .buy-car{
            display: none;
        }

        .buy-car-responsive{
            display:inline-block;
            text-align: end;
        }

        .buy-car-responsive a img {
            width: 15%;
            color: var(--color-marron)
        }

        /*//////////*/
        /*NOSOTROS*/
        /*//////////*/

        .quienes-somos{
            display: flex;
            flex-direction: column;
        }

        /*//////////*/
        /*FIN NOSOTROS*/
        /*//////////*/
    }